---
title: Capra Lab Software
layout: default
group: software
---

<h1>Capra Lab Software</h1>

<!-- The Fraser lab welcomes people of any race, ethnicity, religion, national origin, gender identity, gender expression, caregiver and family commitments, political affiliation, sexual orientation, and eligible age or disability status.<br>
<h5>See our<a href="/philosophy/"> lab philosophy and philosophy</a>.</h5> -->

{% for software in site.software %}

<hr>
<!-- The paddingtop and margin-top edits allow anchors to link properly. -->
<div id = "{{software.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
    <div class="col-sm-4">
        {% if software.website %}
          <a style="overflow-wrap: break-word;" href= "{{software.website}}">{{software.website}}</a> <br>
        {% endif %}

        {% if software.pmid %}
        <li>PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{mem.pmid}}" title = "PubMed: {{publication.pmid}} (opens in new tab)" target="_blank"> {{publication.pmid}}</a></li>
        {% endif %}

        {% if software.github %}
          <a href= "{{software.github}}"> {{software.github}} </a> <br>
        {% endif %}

        <!-- PDF -->
        {% if publication.journal %}
        <li><a href="{{software.pdf}}" title =  "PDF for {{software.name}} (opens in new tab)" target="_blank"> Full Text</a></li>
        {% endif %}
    </div>
    <div class="col-sm-8">
        <p class="text-justify">{{software.description | markdownify}}</p>
    </div>
</div>
{% endfor %}
<hr>
<h4>Affiliates</h4>
{% for software in site.softwares %}

{% unless software.enddate == empty %}
{% continue %}
{% endunless %}

{% unless software.position contains "Affiliate" %}
{% continue %}
{% endunless %}
