---
title: Capra Lab Software
layout: default
group: software
---

<h1>Capra Lab Software</h1>

{% for software in site.software reversed | sort: "year" %}}

<hr>
<div id = "{{software.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
    <div class="col-sm-4">
        <a href= "{{software.email}}"> {{software.email}} </a> <br>
        {% if software.website %}
          <a style="overflow-wrap: break-word;" href= "{{software.website}}">{{software.website}}</a> <br>
        {% endif %}

        {% if software.pmid %}
        <li>PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{software.pmid}}" title = "PubMed: {{software.pmid}} (opens in new tab)" target="_blank"> {{software.pmid}}</a></li>
        {% endif %}

        {% if software.github %}
          <a href= "{{software.github}}"> {{software.github}} </a> <br>
        {% endif %}

        <!-- PDF -->
        {% if publication.journal %}
        <li><a href="{{software.pdf}}" title =  "PDF for {{software.name}} (opens in new tab)" target="_blank"> Full Text</a></li>
        {% endif %}
    </div>
    <div class="col-sm-8">
        <p class="text-justify">{{software.description | markdownify}}</p>
    </div>
</div>
{% endfor %}
